<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mb-5 shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center">
            <img src="{{ '/assets/images/tz_logo.png' | relative_url }}" alt="TZ Logo" height="40" class="d-inline-block" style="margin-right: 8px;">
            <strong>{{site.data.profile.navbar_name}}</strong>
        </a>
        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation.pages %}
                <li class="nav-item {% if item.name == page.navbar_title %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
