<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">

                {% if site.data.profile.education %}
                <div class="mx-2 my-1">
                    <h6 class="timeline-title">Education</h6>
                    <ul class="timeline">
                        {% for item in site.data.profile.education %}
                        <li class="timeline-item{% if item.date contains "present" %} active{% endif %}">
                            <div class="timeline-card">
                                <div class="timeline-heading">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
                                    <div class="timeline-name">{{ item.name }}</div>
                                </div>
                                <div class="timeline-meta">{{ item.position }}</div>
                                <div class="timeline-date">{{ item.date }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if site.data.profile.experience %}
                <div class="mx-2 my-1 mt-4">
                    <h6 class="timeline-title">Experience</h6>
                    <ul class="timeline">
                        {% for item in site.data.profile.experience %}
                        <li class="timeline-item{% if item.date contains "present" %} active{% endif %}">
                            <div class="timeline-card">
                                <div class="timeline-heading">
                                    <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
                                    <div class="timeline-name">{{ item.name }}</div>
                                </div>
                                <div class="timeline-meta">{{ item.position }}</div>
                                <div class="timeline-date">{{ item.date }}</div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if site.data.profile.service %}
                <div class="mx-2 my-1 mt-4">
                    <h6 class="plain-list-title">Academic Service</h6>
                    <ul class="plain-list">
                        {% for item in site.data.profile.service %}
                        <li>
                            <div>{{ item.name }}</div>
                            <div class="plain-list-date">{{ item.date }}</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
