{% assign news_items = site.news | sort: "date" | reverse | slice: 0, include.limit -%}

<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="p-3">
        <ul class="news-timeline">
            {% for item in news_items %}
            <li{% if forloop.first %} class="latest"{% endif %}>
                <div class="news-meta">{{ item.date | date: "%b %-d · %Y" }}</div>
                <div>{{ item.title }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
